<form class="form-class">
  <div class="form-group col-md-4">
    <label for="inputMaker4">Maker</label>
    <input type="text" class="form-control" id="inputMaker4" placeholder="Maker" [(ngModel)]="car.maker" name="maker">
  </div>
  <div class="form-group col-md-4">
    <label for="inputModel4">Model</label>
    <input type="text" class="form-control" id="inputModel4" placeholder="Model" [(ngModel)]="car.model" name="model">
  </div>
  <div class="form-group col-md-4">
    <label for="bodytype">Body Type</label>
    <select id="bodytype" class="form-control" [(ngModel)]="car.bodyType" name="bodyType">
      <option selected>Choose...</option>
      <option>Bus</option>
      <option>Coupe</option>
      <option>Hatch</option>
      <option>Sedan</option>
      <option>SUV</option>
      <option>Van</option>
      <option>Ute</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="inputYear">Year</label>
    <input type="number" class="form-control col-md-4" id="inputYear" placeholder="2010" [(ngModel)]="car.year" name="year">
  </div>
  <div class="form-row col-md-6">
    <div class="form-group col-md-3">
      <label for="inputaddress">Address</label>
      <input type="text" class="form-control" id="inputaddress" [(ngModel)]="car.address" name="address">
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" [(ngModel)]="car.state" name="state">
        <option selected>Choose...</option>
        <option>ACT</option>
        <option>NSW</option>
        <option>NT</option>
        <option>QLD</option>
        <option>SA</option>
        <option>TAS</option>
        <option>WA</option>
        <option>VIC</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputpostcode">Post Code</label>
      <input type="text" class="form-control" id="inputpostcode" [(ngModel)]="car.postCode" name="postcode">
    </div>

  </div>
  <button (click)="saveCar()" type="button" class="btn btn-primary">ADD CAR <span class="badge badge-success">
      {{db.length}}</span></button>
  <button (click)="deleteOldCars()" [disabled]="getOldCarsNumber()==0" type="button" class="btn btn-warning">DELETE OLD
    CARS
    <span class="badge badge-danger">
      {{getOldCarsNumber()}}</span></button>


</form>
<table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Maker</th>
      <th>Model</th>
      <th>Year</th>
      <th>Body Type</th>
      <th>Address</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of db;let i=index;  even as isEven; odd as isOdd">
      <tr *ngIf="isEven"  class="table-primary" >
        <td>{{(i+1)}}</td>
        <td>{{item.maker}}</td>
        <td>{{item.model}}</td>
        <td>{{item.year}}</td>
        <td>{{item.bodyType}}</td>
        <td>{{item.address}},{{item.state}},{{item.postCode}}</td>
        <td> <button (click)="deleteCar(item.id)" type="button" class="btn btn-danger">X</button></td>
        <tr *ngIf="isOdd"  class="table-success" >
          <td>{{(i+1)}}</td>
          <td>{{item.maker}}</td>
          <td>{{item.model}}</td>
          <td>{{item.year}}</td>
          <td>{{item.bodyType}}</td>
          <td>{{item.address}},{{item.state}},{{item.postCode}}</td>
          <td> <button (click)="deleteCar(item.id)" type="button" class="btn btn-danger">X</button></td>
      </tr>
    </ng-container>
  </tbody>
</table>
